<h3>Welcome, <%="#{current_user.title} #{current_user.name}"%></h3>


<%if current_user.email == "admin"%>
<div class="list-group" id="sidenav">
<%=link_to "View Projects", projects_path,class: "list-group-item"%>
<%=link_to "View all Client", users_path, class: "list-group-item"%>
<%=link_to "View all Unit", units_path, class: "list-group-item"%>
<%=link_to "Add a Project", new_project_path,class: "list-group-item"%>
<%=link_to "Create Client Profile", new_user_path,class: "list-group-item"%>
<%=link_to "Add Client Unit", new_unit_path,class: "list-group-item"%>
</div>	
<%else%>
<div class="list-group" id="sidenav">
<%=link_to "View my account", pages_account_path,class: "list-group-item"%>
<%=link_to "View my properties", "/user_projects",class: "list-group-item"%>
<%=link_to "View project designs", projects_path,class: "list-group-item"%>
<%=link_to "View my profile", user_path(current_user),class: "list-group-item"%>
</div>
<%end%>