<div class="well">
<h3>New Project</h3>
<%=nested_form_for @project,remote: true,authenticity_token: true do |form|%>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name,class: "form-control", required: true%>
</div>

<strong>Project Models:</strong>
<p></p>
<%= form.fields_for :models,Model.new do |sv_form| %>

  <div class="form-group">
    <%= sv_form.text_field :package,class: "form-control", required: true,placeholder: "Model" %>
  </div>

  <%= sv_form.link_to_remove "Remove this model" %>
<p></p>
<% end %>

<p><%= form.link_to_add "Add model", :models %></p>


<strong>Project Layouts:</strong>
<p></p>
<%= form.fields_for :layouts,Layout.new,authenticity_token: true do |layout_form| %>
  
    <div class="form-group">
      <%= layout_form.label "Size (sqft)" %>
      <%= layout_form.number_field :size,class: "form-control"%>
    </div>

    <div class="form-group">
      <%= layout_form.label "Plan" %>
      <%= layout_form.file_field :plan,class: "btn btn-default"%>
    </div>

    <div class="form-group">
      <%= layout_form.label "Pictures" %>
      <%= layout_form.file_field :pictures,multiple: true,class: "btn btn-default"%>
    </div>

    <%= layout_form.link_to_remove "Remove this layout" %>
<% end %>


<p><%= form.link_to_add "Add layout", :layouts %></p>

<%= form.submit :submit,class: "btn btn-default" %>
<%end%>
</div>