<div class="col-lg-12">
<h1 class="page-header">My Units</h1>
<div>

<div class="list-group list-group-root">
  <%current_user.projects.distinct.each do |p|%>

    <a class="list-group-item" data-toggle="collapse" href="#<%=p.id%>">
      <i class="glyphicon glyphicon-chevron-right"></i><%=p.name%>
    </a>

    

      <div class="list-group collapse" id="<%=p.id%>">
      <%p.user_units(current_user).each do |u|%>
        <a href="/units/<%=u.id%>" class="list-group-item">
          <%=u.unit_no%>
        </a>
      <%end%>
      </div>
    
  <%end%>
</div>