<h3><%=@unit.unit_no%></h3>
Project: <%=@unit.project.name%><br>
<%l = @unit.layout%>
Size: <%=l.size%> sqft
<p></p>
Layout:<br>
<div class="row">
	<div class="col-sm-6 col-md-3">
	<%= image_tag l.plan.thumb.url if !l.plan.url.nil?%>
	</div>
</div>
<p></p>
Proposed Interior Design:<br>
<%if l.pictures != []%>
<div class="row">
<%l.pictures.length.times do |t|%>
	<div class="col-sm-6 col-md-3" style="margin-bottom: 10px ">
	<%= image_tag l.pictures[t].thumb.url%>
	</div>
<%end%>
</div>
<%end%>
