<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><%=image_tag "mykeylogo_to-dave-02.png", alt: "MyKey"%></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? -%>
          <li><%= link_to user_path(current_user) do%>
              <i class="glyphicon glyphicon-user"></i> Profile
              <%end%>
            </li> 
          <li><%= link_to sign_out_path, method: :delete do%>
            <i class="glyphicon glyphicon-log-in"></i> Sign Out
            <%end%>
          </li>  
        <% end -%>
      </ul>
    </div>
  </nav>
</div>
<%if signed_in?%>
  <%=render "layouts/side_navbar"%>
<%end%>

  <% if signed_in?%>
    <div class="wrapper">
        <% flash.each do |key, value| -%>
        <div class="alert alert-<%=key%> alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%=h value %>
        </div>
        <% end %>
    <%= yield %>
    </div>
  <%else%>
          <% flash.each do |key, value| -%>
        <div class="alert alert-<%=key%> alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%=h value %>
        </div>
        <% end %>
    <%= yield %>
  <%end%>
</body>
</html>
